@import url(//db.onlinewebfonts.com/c/20e9fce1ca54ce1d7b7a7329de9bdaef?family=Gistesy);

@font-face {
  font-family: "Gistesy";
  src: url("//db.onlinewebfonts.com/t/20e9fce1ca54ce1d7b7a7329de9bdaef.eot");
  src: url("//db.onlinewebfonts.com/t/20e9fce1ca54ce1d7b7a7329de9bdaef.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/20e9fce1ca54ce1d7b7a7329de9bdaef.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/20e9fce1ca54ce1d7b7a7329de9bdaef.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/20e9fce1ca54ce1d7b7a7329de9bdaef.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/20e9fce1ca54ce1d7b7a7329de9bdaef.svg#Gistesy")
      format("svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gistesy";
  scroll-behavior: smooth;
  background-color: #ffff;
}

html,
body {
}

.container {
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#main-container {
  position: relative;
  outline: none !important;
}

/* .main-leaf {
  position: fixed;
  object-fit: none;
  object-position: 40%;
  height: 100%;
  width: 100vw;
  opacity: 50%;
} */

/* For phones */
@media only screen and (max-width: 700px) {
  * {
    scroll-behavior: smooth;
    background: transparent;
  }

  #main-container {
  }

  #paul-title {
    background: transparent;
    margin-top: 19vh;
    margin-left: 12%;
    position: center;
    font-size: 15.5vh;
    background: hsla(43, 36%, 25%, 1);

    background: linear-gradient(
      45deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    background: -moz-linear-gradient(
      45deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    background: -webkit-linear-gradient(
      45deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#584B29", endColorstr="#E1CB9A", GradientType=1 );
  }

  #plus-title {
    background: transparent;
    margin-top: -16vh;
    margin-left: 50%;
    position: center;
    font-size: 15vh;

    background: hsla(43, 36%, 25%, 1);

    background: linear-gradient(
      45deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    background: -moz-linear-gradient(
      45deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    background: -webkit-linear-gradient(
      45deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#584B29", endColorstr="#E1CB9A", GradientType=1 );
  }

  #alexis-title {
    background: transparent;
    margin-top: -15vh;
    margin-right: 10%;
    text-align: right;
    font-size: 15.5vh;

    background: hsla(43, 36%, 25%, 1);

    background: linear-gradient(
      90deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    background: -moz-linear-gradient(
      90deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    background: -webkit-linear-gradient(
      90deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#584B29", endColorstr="#E1CB9A", GradientType=1 );
  }
}
