* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gistesy", "CharterC";
  scroll-behavior: smooth;
  background-color: #ffff;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.container {
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#main-container {
  position: relative;
  outline: none !important;
}

/* For phones */
@media only screen and (max-width: 700px) {
  * {
    scroll-behavior: smooth;
    background: transparent;
  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }

  .container {
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  .center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .center > span {
    display: inline-block;
    background-color: #e1ca9f;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    margin: 0 8px;
    transform: translate3d(0);
    animation: bounce 0.6s infinite alternate;
  }

  .center > span:nth-child(2) {
    background-color: #584b29;
    animation-delay: 0.2s;
  }

  .center > span:nth-child(3) {
    animation-delay: 0.4s;
  }

  @keyframes bounce {
    to {
      width: 16px;
      height: 16px;
      transform: translate3d(0, -16px, 0);
    }
  }

  /* Change opacity later to 0 */
  .container {
    opacity: 0;
    display: none;
    transition: opacity 2s ease-in;
    margin-top: 27vh;
  }

  #main-container {
    min-height: 100vh;
  }

  #leaff {
    position: absolute;
    z-index: -1;
    height: 70vh;
    width: 50vh;
    top: 35vh;
    left: -18vh;
  }

  #watercolor {
    position: absolute;
    z-index: -1;
    height: 90vh;
    width: 60vh;
    top: 20vh;
    left: -23vh;
  }

  #paul-title {
    background: transparent;
    margin-top: -10vh;
    margin-left: 30%;
    position: center;
    font-size: 15.5vh;
    font-family: "Gistesy";
    background: hsla(43, 36%, 25%, 1);

    background: linear-gradient(
      45deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    background: -moz-linear-gradient(
      45deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    background: -webkit-linear-gradient(
      45deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#584B29", endColorstr="#E1CB9A", GradientType=1 );
  }

  #plus-title {
    background: transparent;
    margin-top: -16vh;
    margin-left: 60%;
    position: center;
    font-size: 15vh;
    font-family: "Gistesy";

    background: hsla(43, 36%, 25%, 1);

    background: linear-gradient(
      45deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    background: -moz-linear-gradient(
      45deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    background: -webkit-linear-gradient(
      45deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#584B29", endColorstr="#E1CB9A", GradientType=1 );
  }

  #alexis-title {
    background: transparent;
    margin-top: -13vh;
    margin-right: 10%;
    text-align: right;
    font-size: 15.5vh;
    font-family: "Gistesy";

    background: hsla(43, 36%, 25%, 1);

    background: linear-gradient(
      90deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    background: -moz-linear-gradient(
      90deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    background: -webkit-linear-gradient(
      90deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#584B29", endColorstr="#E1CB9A", GradientType=1 );
  }

  .date-title {
    position: absolute;
    font-family: "CharterBold";
    font-size: 5vh;
    margin-left: 3.5vh;
  }

  #twelve {
    margin-top: -15vh;
  }
  #seven {
    margin-top: -10vh;
  }
  #twentyone {
    margin-top: -5vh;
  }

  .blessings-title {
    position: absolute;
    font-family: "CharterC";
    font-size: 1.6vh;
    justify-content: center;
  }

  #blessing {
    margin-top: -13vh;
    right: 2vh;
  }

  #dad1 {
    margin-top: -10vh;
    right: 42%;
  }

  #mom1 {
    margin-top: -7.5vh;
    right: 42%;
  }

  #dad2 {
    margin-top: -10vh;
    right: 2vh;
  }

  #mom2 {
    margin-top: -7.5vh;
    right: 2vh;
  }

  .description1 {
    position: absolute;
    font-family: "CharterC";
    font-size: 1.6vh;
    justify-content: center;
  }

  .description1 {
    font-family: "CharterC";
    position: absolute;
  }

  #request {
    margin-top: 47vh;
    margin-right: 2vh;
    left: 40%;
    text-align: right;
    right: 0vh;
  }

  #request2 {
    margin-top: 49vh;
    margin-right: 2vh;
    left: 30%;
    text-align: right;
    right: 0vh;
  }

  #request3 {
    margin-top: 51vh;
    margin-right: 2vh;
    left: 40%;
    text-align: right;
    right: 0vh;
  }

  #december {
    margin-top: 55vh;
    margin-right: 2vh;
    left: 50%;
    text-align: right;
    right: 0vh;
  }

  #three {
    margin-top: 57vh;
    margin-right: 2vh;
    text-align: right;
    right: 0vh;
  }

  #early {
    margin-top: 63vh;
    margin-right: 2vh;
    text-align: right;
    right: 0vh;
  }

  #antipolo {
    margin-top: 59vh;
    margin-right: 2vh;
    text-align: right;
    right: 0vh;
    font-family: "CharterBold";
  }

  #emerald {
    margin-top: 64.8vh;
    margin-right: 2vh;
    text-align: right;
    right: 0vh;
    font-family: "CharterBold";
  }

  #cabrera {
    margin-top: 67vh;
    margin-right: 2vh;
    text-align: right;
    right: 0vh;
  }

  #principal-sponsors {
    min-height: 100vh;
    width: 100%;
  }

  #sticky-div {
    position: sticky;
    font-family: "Gistesy";
    font-size: 5vh;
    text-align: right;
    margin-right: 2vh;
  }

  .boldTitles {
    font-family: "CharterBold";
    font-size: 1.7vh;
    text-align: right;
    margin-right: 2vh;
    margin-bottom: 1vh;
    margin-top: 2vh;
  }

  .boldTitles2 {
    font-family: "CharterBold";
    font-size: 1.5vh;
    text-align: right;
    margin-right: 2vh;
    margin-bottom: 1vh;
  }

  .names {
    position: relative;
    font-family: "CharterC";
    font-size: 1.5vh;
    text-align: right;
    margin-right: 2vh;
  }

  table {
    width: 100%;
    /* border: 1px solid red; */
  }

  th {
    width: 50%;
  }

  #leaf2 {
    position: relative;
    height: 10vh;
    width: 10vh;
    top: 5vh;
    left: 0vh;
    background: transparent;
    transform: rotate(-45deg);
  }

  #leaf1 {
    position: relative;
    height: 13vh;
    width: 13vh;
    top: 90vh;
    left: -10vh;
    background: transparent;
  }

  #watercolor1 {
    position: absolute;
    z-index: -1;
    height: 40vh;
    width: 40vh;
    top: 90%;
    left: -10vh;
    background: transparent;
  }

  #watercolor2 {
    position: absolute;
    z-index: -1;
    height: 50vh;
    width: 50vh;
    top: 180%;
    left: -30vh;
    opacity: 60%;
    background: transparent;
  }

  #watercolor3 {
    position: absolute;
    z-index: -1;
    height: 50%;
    width: 50%;
    top: 130%;
    left: 50%;
    opacity: 50%;
    background: transparent;
    transform: rotate(180deg);
  }

  #RSVP {
    height: 100vh;
    max-width: 100%;
  }

  #leaf3 {
    position: relative;
    height: 33vh;
    width: 16.5vh;
    top: -1.5vh;
    left: 0vh;
    background: transparent;
  }

  #watercolor4 {
    position: absolute;
    z-index: -1;
    height: 40vh;
    width: 40vh;
    top: 210vh;
    left: -10vh;
    opacity: 60%;
    background: transparent;
  }

  .boldTitles3 {
    position: relative;
    font-family: "Gistesy";
    font-size: 3rem;
    text-align: right;
    margin-right: 2vh;
    margin-bottom: 1vh;
    margin-top: -25vh;
  }

  .last1 {
    position: relative;
    font-family: "CharterC";
    font-size: 1.7vh;
    text-align: right;
    right: 0;
    margin-right: 2vh;
  }

  .dot {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 1vh;
  }

  #dot1 {
    margin-left: 60%;
    background-color: #8c9bae;
  }

  #dot2 {
    background-color: #c49190;
  }

  #dot3 {
    background-color: #b79f7b;
  }

  .last2 {
    position: relative;
    font-family: "CharterC";
    font-size: 1.5vh;
    text-align: right;
    right: 0;
    margin-right: 2vh;
  }

  .needSpace {
    margin-bottom: 25vh;
  }

  .needsmallSpace {
    margin-bottom: 17vh;
  }

  #last-phrase {
    margin-left: 15vh;
  }

  .details {
    position: absolute;
    font-family: "CharterBold";
    font-size: 5vh;
    margin-left: 3.5vh;
    margin-top: 15vh;
  }

  #de {
    margin-top: -40vh;
  }
  #tai {
    margin-top: -35vh;
  }
  #ls {
    margin-top: -30vh;
  }

  #watercolor5 {
    position: absolute;
    z-index: -1;
    height: 40vh;
    width: 40vh;
    top: 310vh;
    left: 20%;
    opacity: 60%;
    background: transparent;
    transform: rotate(180deg);
  }

  .qr {
    height: 5%;
    max-width: 50%;
  }
}
