* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gistesy", "CharterC";
  scroll-behavior: smooth;
  background-color: #ffff;
}

html,
body {
}

.container {
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#main-container {
  position: relative;
  outline: none !important;
}

/* .main-leaf {
  position: fixed;
  object-fit: none;
  object-position: 40%;
  height: 100%;
  width: 100vw;
  opacity: 50%;
} */

/* For phones */
@media only screen and (max-width: 700px) {
  * {
    scroll-behavior: smooth;
    background: transparent;
  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }

  .container {
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  .center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .center > span {
    display: inline-block;
    background-color: #e1ca9f;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    margin: 0 8px;
    transform: translate3d(0);
    animation: bounce 0.6s infinite alternate;
  }

  .center > span:nth-child(2) {
    background-color: #584b29;
    animation-delay: 0.2s;
  }

  .center > span:nth-child(3) {
    animation-delay: 0.4s;
  }

  @keyframes bounce {
    to {
      width: 16px;
      height: 16px;
      transform: translate3d(0, -16px, 0);
    }
  }

  /* Change opacity later to 0 */
  .container {
    opacity: 0;
    display: none;
    transition: opacity 2s ease-in;
    margin-top: 27vh;
  }

  #main-container {
    min-height: 100vh;
  }

  #leaff {
    position: absolute;
    z-index: -1;
    height: 70vh;
    width: 50vh;
    top: 35vh;
    right: 30%;
  }

  #paul-title {
    background: transparent;
    margin-top: -10vh;
    margin-left: 30%;
    position: center;
    font-size: 15.5vh;
    font-family: "Gistesy";
    background: hsla(43, 36%, 25%, 1);

    background: linear-gradient(
      45deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    background: -moz-linear-gradient(
      45deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    background: -webkit-linear-gradient(
      45deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#584B29", endColorstr="#E1CB9A", GradientType=1 );
  }

  #plus-title {
    background: transparent;
    margin-top: -16vh;
    margin-left: 60%;
    position: center;
    font-size: 15vh;
    font-family: "Gistesy";

    background: hsla(43, 36%, 25%, 1);

    background: linear-gradient(
      45deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    background: -moz-linear-gradient(
      45deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    background: -webkit-linear-gradient(
      45deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#584B29", endColorstr="#E1CB9A", GradientType=1 );
  }

  #alexis-title {
    background: transparent;
    margin-top: -13vh;
    margin-right: 10%;
    text-align: right;
    font-size: 15.5vh;
    font-family: "Gistesy";

    background: hsla(43, 36%, 25%, 1);

    background: linear-gradient(
      90deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    background: -moz-linear-gradient(
      90deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    background: -webkit-linear-gradient(
      90deg,
      hsla(43, 36%, 25%, 1) 0%,
      hsla(41, 54%, 74%, 1) 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#584B29", endColorstr="#E1CB9A", GradientType=1 );
  }

  .date-title {
    position: absolute;
    font-family: "CharterBold";
    font-size: 5vh;
    margin-left: 3.5vh;
  }

  #twelve {
    margin-top: -15vh;
  }
  #seven {
    margin-top: -10vh;
  }
  #twentyone {
    margin-top: -5vh;
  }

  .blessings-title {
    position: absolute;
    font-family: "CharterC";
    font-size: 1.6vh;
    justify-content: center;
  }

  #blessing {
    margin-top: -13vh;
    right: 2vh;
  }

  #dad1 {
    margin-top: -10vh;
    right: 42%;
  }

  #mom1 {
    margin-top: -7.5vh;
    right: 42%;
  }

  #dad2 {
    margin-top: -10vh;
    right: 2vh;
  }

  #mom2 {
    margin-top: -7.5vh;
    right: 2vh;
  }

  .description1 {
    position: absolute;
    font-family: "CharterC";
    font-size: 1.6vh;
    justify-content: center;
  }

  #principal-sponsors {
    min-height: 100vh;
    width: 100%;
    /* border: 4px solid red; */
  }

  .description1 {
    font-family: "CharterC";
    position: absolute;
  }

  #request {
    margin-top: 47vh;
    margin-right: 2vh;
    left: 40%;
    text-align: right;
  }

  #december {
    margin-top: 55vh;
    margin-right: 2vh;
    left: 50%;
    text-align: right;
  }

  #early {
    margin-top: 63vh;
    margin-right: 2vh;
    text-align: right;
    right: 0vh;
  }

  #antipolo {
    margin-top: 58.5vh;
    margin-right: 2vh;
    text-align: right;
    right: 0vh;
    font-family: "CharterBold";
  }

  #emerald {
    margin-top: 64.8vh;
    margin-right: 2vh;
    text-align: right;
    right: 0vh;
    font-family: "CharterBold";
  }

  #cabrera {
    margin-top: 67vh;
    margin-right: 2vh;
    text-align: right;
    right: 0vh;
  }
}
